body {
  padding: 0px;
  margin: 0px; 
  background-color: white;
  font-family: Avenir;
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-style: bold;
  color: black;
  display: block;
  padding-left: 2%;
}

.header {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: black;
  display: block;
  padding-left: 2%;
}

.text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: black;
  display: block;
  padding-left: 2%;
  text-decoration: none;
}

.subtext {
  font-size: 12px;
  font-weight: light;
  font-style: light;
  color: #4E4E4E;
  display: block;
  padding-left: calc(2% + 25px);
}

.main {
  display: block;
  width: 85vh;
  height: 100vh;
  max-width: 85%;
  margin: 0;
  border: 0 none;
  box-sizing: border-box;
  overflow:hidden;
  left:15%;
  padding-left: 8px;
  position:fixed;
  top: 35px;
  user-select: none;

}

/* The sidebar menu */
.sidenavPref {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #36454F;
  overflow-x: hidden; /* Disable horizontal scroll */
  top: 25px;
  text-align: left;
  user-select: none;
}

/* The navigation menu links */
.sidenavPref a {
  padding: 6px 8px 6px 16px;
  font-style: normal;
  font-size: 16px;
  color: white;
  display: block;
}

.sidenavPref sub {
  padding: 6px 8px 6px 16px;
  font-family: Avenir;
  font-style: light;
  font-size: 12px;
  color: white;
  display: block;
}

/* Vertical Sidebar Menu */
.vertical-menu {
    width: 100%;
    font-family: Avenir;
    font-style: normal;
    font-size: 16px;
}

.vertical-menu a {
    background-color: #36454F; /* Grey background color */
    color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a.inactive:hover {
    background-color: #eee; /* Grey background color on mouse-over */
    color: black;
}

.vertical-menu a.active {
    background-color:  #ccc; /* Dark grey background  */
    color: black;
}

.vertical-menu a.inactive {
  background-color: #36454F; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}